{:tasks {:requires ([babashka.curl :as curl]
                    [babashka.fs :as fs]
                    [babashka.process :refer [sh]]
                    [clojure.java.io :as io]
                    [clojure.string :as str]
                    [cheshire.core :as json]
                    [selmer.parser :as parser])
         update-neil (let [tag
                           (-> (curl/get "https://api.github.com/repos/babashka/neil/tags")
                               :body
                               (json/parse-string true)
                               first
                               :name)
                           digest (java.security.MessageDigest/getInstance "SHA-256")
                           stream (:body (curl/get (format "https://github.com/babashka/neil/archive/%s.zip" tag) {:as :stream}))
                           file (doto (fs/file "neil.tmp")
                                  fs/delete-on-exit)
                           _ (io/copy stream file)
                           hex (first (str/split (:out (sh ["sha256sum" (str file)])) (re-pattern "\\s+")))
                           version (subs tag 1)]
                       (spit "Formula/neil.rb"
                             (parser/render (slurp "templates/neil.template.rb")
                                            {:version version
                                             :sha hex}))
                       (spit (format "Formula/neil@%s.rb" version)
                             (parser/render (slurp "templates/neil.template.rb")
                                            {:version version
                                             :sha hex
                                             :at (str "AT" (str/replace version "." ""))}))
                       (shell "git add Formula")
                       (shell "git commit -m " tag)
                       (shell "git push"))

         ;; TODO: refactor common code
         update-obb (let [tag
                          (-> (curl/get "https://api.github.com/repos/babashka/obb/tags")
                              :body
                              (json/parse-string true)
                              first
                              :name)
                          digest (java.security.MessageDigest/getInstance "SHA-256")
                          stream (:body (curl/get
                                         (format "https://github.com/babashka/obb/releases/download/%s/obb.tar.gz" tag) {:as :stream})
                                        ;; for testing locally
                                        #_(curl/get
                                           (format "http://localhost:8090/out/obb.tar.gz" tag) {:as :stream}))
                          file (doto (fs/file "neil.tmp")
                                 fs/delete-on-exit)
                          _ (io/copy stream file)
                          hex (first (str/split (:out (sh ["sha256sum" (str file)])) (re-pattern "\\s+")))
                          version (subs tag 1)]
                      (spit "Formula/obb.rb"
                            (parser/render (slurp "templates/obb.template.rb")
                                           {:version version
                                            :sha hex}))
                      (spit (format "Formula/obb@%s.rb" version)
                            (parser/render (slurp "templates/obb.template.rb")
                                           {:version version
                                            :sha hex
                                            :at (str "AT" (str/replace version "." ""))}))
                      #_#_#_(shell "git add Formula")
                      (shell "git commit -m " tag)
                      (shell "git push"))
         test-obb (shell "brew install --build-from-source Formula/obb.rb")}}
